.flex
	display flex
	&.-v
		flex-direction "column"
	&.-sb
		justify-content space-between
	&.-e
		justify-content flex-end
	&.-s
		justify-content flex-start
	&.-c
		justify-content center
	&.-sa
		justify-content space-around
	&.-al-c
		align-items center
	&.-al-s
		align-items flex-start
	&.-al-e
		align-items flex-end
	&.-wrap
		flex-wrap wrap
